* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

#waybar {
    background: #2E3440;
    border: 3px solid rgba(255, 255, 255, 0.1);
    /* border-radius: 10px; */
}

tooltip {
    background: #171717;
    color: #A1BDCE;
    font-size: 8px;
    border-radius: 7px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    transition-duration: 0.1s;
}

#workspaces button.active {
    background: rgba(23, 23, 23, 0.0);
    color: lightgreen;
    font-weight: bold;
}

#workspaces button:hover {
    color: white;
    background: rgba(23, 23, 23, 0.5);
}

.niri-taskbar button:hover {
    background: rgba(23, 23, 23, 0.3);
    transition-duration: 0.1s;
}

.niri-taskbar button.focused {
    background: rgba(23, 23, 23, 0.2);
    background-image: linear-gradient(to top, #fff 2px, transparent 2px);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 2px;
}

.niri-taskbar button {
    padding: 5px;
}

#tray {}

#network {
    color: #A1BDCE;
}

#pulseaudio {
    color: #6F8FDB;
    background: rgba(22, 19, 32, 0.0);
}

#backlight {
    color: #2096C0;
    background: rgba(23, 23, 23, 0.0);
}

#battery {
    color: lightgreen;
    background: rgba(23, 23, 23, 0.0);
}

#battery.charging,
#battery.plugged {
    color: lightgreen;
}

#battery.critical:not(.charging) {
    color: red;
}

#battery.warning:not(.charging) {
    color: yellow;
}

#clock {
    color: #A1BDCE;
    padding-right: 2px;
}

#cpu {
    color: #915CAF;
}

#memory {
    color: #E4C9AF;
}

#cava {
    color: lightblue;
}

/* slider */

#backlight-slider slider,
#pulseaudio-slider slider {
    background: #A1BDCE;
    box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 10px;
    border-radius: 8px;
    background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: #2096C0;
}

/* custom and grouped */

#custom-gpu-temp.cool {
    color: lightblue;
}

#custom-gpu-temp.warm {
    color: orange;
}

#custom-gpu-temp.hot {
    color: red;
}

#custom-cpu-temp.cool {
    color: lightblue;
}

#custom-cpu-temp.warm {
    color: orange;
}

#custom-cpu-temp.hot {
    color: red;
}

#custom-spotify {
    color: #E8EDF0;
    background: rgba(23, 23, 23, 0.0);
    margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.1
}

#custom-spotify {
    color: #E8EDF0;
    background: rgba(23, 23, 23, 0.0);
    margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.1
}

#custom-playerinfo-icon {
    font-size: 22px;
    color: lightblue;
}

#custom-arch {
    font-size: 15px;
    margin-left: 10px;
}

#custom-menu {
    min-width: 20px;
    color: #A1BDCE;
    font-size: 16px;
}

#group-minimized {
    border-left: solid;
    padding-right: 2px;
}